.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.shop {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px;
}

.cart {
  background-color: #ff99004d;
  padding: 20px;
  width: 250px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 80px;
}

.cart h2 {
  margin: 30px 0;
  text-align: center;
}

.cart p {
  margin-bottom: 20px;
}

/* .insideCart-btn:nth-child(1) {
  background-color: #ff3030;
  width: 100%;
} */

.insideCart-btn {
  margin: 20px 0;
}
.insideCart-btn button:nth-child(1) {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  color: white;
  background-color: #ff3030;
  width: 100%;
  margin-bottom: 10px;
}
.insideCart-btn button:nth-child(2) {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  color: white;
  background-color: #ff9900;
  width: 100%;
}
