.cart {
  background-color: #ff99004d;
  padding: 20px;
  width: 250px;
  height: 100vh;
}

.cart h2 {
  margin: 30px 0;
  text-align: center;
}

.cart p {
  margin-bottom: 20px;
}

/* .insideCart-btn:nth-child(1) {
    background-color: #ff3030;
    width: 100%;
  } */

.insideCart-btn {
  margin: 20px 0;
}
.insideCart-btn button:nth-child(1) {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  color: white;
  background-color: #ff3030;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}
.insideCart-btn button:nth-child(2) {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  color: white;
  background-color: #ff9900;
  width: 100%;
  cursor: pointer;
}
